@model IEnumerable<PhoneBook.Dtos.ReportDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    a.disabled {
  pointer-events: none;
  cursor: default;
}
</style>

<p>
    <a asp-action="CreateRequest">Request Report</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UUID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UUID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                @if (item.Status == (int)PhoneBook.Core.Enums.EnumReport.Status.Preparing)
                {
                    <td>
                        @Html.ActionLink("Details","Details", "Report", new {uuid=item.UUID},new{@class="btn btn-warning disabled"})
                        @Html.ActionLink("Download","Download", "Report", new {fullpath=item.FullPath},new{@class="btn btn-info disabled"})
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Details","Details", "Report", new {uuid=item.UUID},new{@class="btn btn-warning "})
                        @Html.ActionLink("Download","Download", "Report", new {fullpath=item.FullPath},new{@class="btn btn-info"})
                    </td>
                }
            </tr>
}
    </tbody>
</table>
